h1 {
  margin-bottom: 0px;
  color: white;
  text-align: center;
  padding: 16px;
  background-color: #333;
}
h2 {
  color: #ffffff;
  background-color: #212121;
  padding: 15px;
  margin-bottom: 0px;
}
section {
  margin: 0px;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #333;
}
section p {
  font-family: monospace;
  font-size: 16px;
  color: white;
}
footer {
  text-align: center;
  background-color: #242424;
  padding: 25px;
}
footer p {
  font-size: 12px;
  font-style: italic;
  color: #d6d6d6;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #454545;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}